
img {
  max-width: 150px;
}
h1 {
  font-family: Courier;
  
}
body {
  background: #e2e2e2;
  text-align: center;
}
a {
  color: #7e7ee6;
}
button {
  margin: .5em;
  background: transparent;
  border-radius: 10px;
  width: 20vw;
}