img {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  display: block;
}
h1 {
  font-family: Courier;
  font-size: 40px;
  text-align: center;
}
body {
  background: #e2e2e2;
}
a {
  color: #7e7ee6;
}
button {
  margin: 0.5em;
  background: transparent;
  border: 2px solid;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  width: 20vw;
  min-width: 100px;
  font-family: Courier;
  font-size: 15px;
  color: black;
  box-shadow: 0 6px #bababa;
  margin: 0 auto;
  display: block;
}
button:hover {
  background-color: white;
}
button:active {
  transform: translatey(4px);
}
p {
  text-align: center;
}